.container {
  width: 100vw;
}

.menu {
  height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  position: fixed;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.content {
  height: 100%;
  display: flex;
  flex: auto;
  flex-direction: column;
  width: 100%;
  margin-left: 220px;
  overflow-x: hidden;
  transition: margin .2s;

  &.collapsed {
    margin-left: 80px;
    border-right: 1px solid #e5e5e5;
  }

  &.horizontal {
    margin-left: 0;
  }

  .mainContent {
    margin: 0 16px 16px;
    padding: 16px;
    overflow: auto;
    transition: all .5s;
  }
}

.logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255,255,255,.2);
  border-radius: 6px
}


.tab_heade_content {
  flex: 1;

  .ant-tabs-content-holder {
    display: flex;

    .ant-tabs-content {
      flex: 1;
      display: flex;

      .ant-tabs-tabpane-active {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 10px;

      }
    }
  }
}

.display_flex {
  display: flex;
}

.flex {
  flex: 1;
}

.flex_column {
  flex-direction: column;
  
}

.flex_conter {
  align-items: center;
  justify-content: center;
}


.mar_top {
  margin-top: 10px;
}

.mar_right {
  margin-right: 10px;
}

.mar_left {
  margin-left: 10px;
}

.mar_bottom {
  margin-bottom: 10px;
}


body,
.body-layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


img {
  width: 100%;
  height: 100%;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


::-webkit-scrollbar-track {
  border-radius: 10px;
}