

.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
}

.logo-vertical {
  width: 180px;
  height: 32px;
  margin-left: -40px;
  background: rgba(255,255,255,.2);
  border-radius: 6px
}


.tab_heade_content {
  flex: 1;

  .ant-tabs-content-holder {
    display: flex;

    .ant-tabs-content {
      flex: 1;
      display: flex;

      .ant-tabs-tabpane-active {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 10px;

      }
    }
  }
}

img {
  width: 100%;
  height: 100%;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


::-webkit-scrollbar-track {
  border-radius: 10px;
}